token:
postgres_url: postgresql:///infinity
pinned_servers:
- 870950609291972618
- 758641373074423808
main_server: 758641373074423808
needed_bots:
- id: 1200677946789212242
  name: Borealis
  invite: 
    https://discord.com/api/oauth2/authorize?client_id={id}&permissions=8&scope=bot%20applications.commands
- id: 870728078228324382
  name: Arcadia
  invite: 
    https://discord.com/api/oauth2/authorize?client_id={id}&scope=bot%20applications.commands
- id: 815553000470478850
  name: Popplio
  invite: 
    https://discord.com/api/oauth2/authorize?client_id={id}&scope=bot%20applications.commands
notify_webhook:
base_url:
cache_server_maker:
  client_id:
  client_secret:
  token:
borealis_client_id:
borealis_client_secret:
